<!DOCTYPE html>
<html lang="en">

<head>
    <title>404 Error</title>
    {{>headlinks}}
</head>

<body>
    <div class="w3-display-middle w3-center">
        <span class="" style="font-size:80px">
            Opps! Page not found!
        </span>
    </div>
</body>

</html>