<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact</title>
    {{>headlinks}}
</head>

<body>
    <!-- Links (sit on top) -->
    {{>nav}}

    <div class="w3-center">
        <p class="" style="font-size:80px">
            Welcome to the contact us Page!
        </p>
    </div>

    {{!-- <p>Quis sint qui velit fugiat qui est deserunt occaecat.</p>
    <p>Quis sint qui velit fugiat qui est deserunt occaecat.</p>
    <p>Quis sint qui velit fugiat qui est deserunt occaecat.</p>
    <p>Quis sint qui velit fugiat qui est deserunt occaecat.</p>
    <p>Quis sint qui velit fugiat qui est deserunt occaecat.</p>
    <p>Quis sint qui velit fugiat qui est deserunt occaecat.</p>
    <p>Quis sint qui velit fugiat qui est deserunt occaecat.</p> --}}

    {{>footer}}
</body>

</html>